<lbk-dropdown>
  <!-- dropdown button -->
  <div role="button" class="flex py-4 px-6 shadow-lg items-center gap-10 text-[18px] ">
    <span class="medium-semibold">Filter by {{current === 'All' ? 'region' : current}}</span>

    <!-- arrow down -->
    <i class="fas fa-angle-down"></i>
    <!-- end arrow down -->
  </div>
  <!-- end dropdown button -->

  <!--  dropdown items-->
  <div role="items" class="z-50">
    <ul class="absolute grid w-full gap-4 p-6 text-lg rounded-lg shadow-lg bg-fill">
      <ng-container *ngFor='let filter of filters'>
        <li>
          <a routerLink="/home" [queryParams]="{region: filter}"
            class="z-50 inline-block w-full p-2 duration-100 cursor-pointer hover:bg-black hover:text-white hover:font-bold">{{filter}}</a>
        </li>
      </ng-container>
    </ul>
  </div>
  <!--  end  dropdown items-->
</lbk-dropdown>
