<section class="grid gap-10 mt-10 xl:grid-cols-2 xl:gap-20 xl:mt-24">
  <!--     country flag -->
  <div>
    <img class="w-full shadow-lg" [src]="country.flag" [alt]="country.name" />
  </div>
  <!--     end country flag -->

  <div class="grid gap-10 place-content-start">
    <!--        country name-->
    <div class="">
      <h2 class="text-2xl font-black xl:text-3xl">{{ country.name }}</h2>
    </div>
    <!--        end country name-->

    <div class="grid gap-6">
      <!--        sub information -->
      <div class="grid gap-6 lg:grid-cols-2">
        <!--       left -->
        <div class="grid gap-2 place-content-start">
          <!--        native name-->
          <p>
            <span class="font-semibold">Native name:</span>
            {{ country.nativeName }}
          </p>
          <!--        end native name-->

          <!--        population-->
          <p>
            <span class="font-semibold">Population:</span>
            {{ country.population | number }}
          </p>
          <!--        end population-->

          <!--        region-->
          <p><span class="font-semibold">Region:</span> {{ country.region }}</p>
          <!--        end region-->

          <!--        sub region-->
          <p>
            <span class="font-semibold">Sub Region:</span>
            {{ country.subRegion }}
          </p>
          <!--        end sub region-->

          <!--       capital-->
          <p>
            <span class="font-semibold">Capital:</span> {{ country.capital }}
          </p>
          <!--       end capital-->
        </div>
        <!--       end left -->

        <!--        right-->
        <div class="grid gap-2 place-content-start">
          <!--          top level domain-->
          <p>
            <span class="font-semibold">Top Level Domain:</span>
            {{ country.tld }}
          </p>
          <!--          end top level domain-->

          <!--          currencies-->
          <p>
            <span class="font-semibold">Currencies:</span>
            {{ country.currencies }}
          </p>
          <!--          end currencies-->

          <!--          languages-->
          <p>
            <span class="font-semibold">Languages:</span>
            {{ country.languages }}
          </p>
          <!--          end languages-->
        </div>
        <!--        end right-->
      </div>
      <!--        end sub information -->

      <!-- borders -->
      <div *ngIf="borders && borders.length > 0">
        <lbk-circle-loading-small
          *ngIf="loadingBorders; else borderList"
          class="block"
        ></lbk-circle-loading-small>

        <ng-template #borderList>
          <lbk-border-list [borders]="borders"></lbk-border-list>
        </ng-template>
      </div>
      <!-- end borders -->
    </div>
  </div>
</section>
