.theme {
  display: flex;
  align-items: center;
  cursor: pointer;

  //theme image
  img {
    width: 20px;
    height: 20px;
  }

  //theme name
  p {
    margin-left: 1rem;
    line-height: 20px;
    font-size: 1.1rem;
  }

  &.dark {

    img {

      filter: invert(1);

    }

  }

}

@media (max-width: 550px) {

  .theme {

    //theme image
    img {
      width: 13px;
      height: 13px;
    }

    //theme name
    p {
      margin-left: .5rem;
      line-height: 1rem;
      font-size: 1rem;
    }
  }
}

@media (max-width: 376px) {

  .theme {

    //theme image
    img {
      width: 11px;
      height: 11px;
    }

    //theme name
    p {
      margin-left: .3rem;
      line-height: .8rem;
      font-size: .8rem;
    }
  }
}
