@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    // light mode text
    --very-dark-blue-1: 200, 15%, 8%;
    // light mode input
    --dark-gray: 0, 0%, 52%;
    // Light Mode Background
    --very-light-gray: 0, 0%, 98%;

    // Dark Mode Elements
    --dark-blue: 209, 23%, 22%;
    // Dark Mode Background
    --very-dark-blue: 207, 26%, 17%;
    // Dark Mode Text & Light Mode Elements
    --white: 0, 0%, 100%;

    ////////////////////
    // text colors /////
    ////////////////////
    --text-fill: var(--very-dark-blue-1);

    /////////////////////////////
    // background colors ////////
    /////////////////////////////
    --bg-fill: var(--very-light-gray);
    --bg-elements: var(--white);

    .dark-theme {
      ////////////////////
      // text colors /////
      ////////////////////
      --text-fill: var(--white);

      /////////////////////////////
      // background colors ////////
      /////////////////////////////
      --bg-fill: var(--very-dark-blue);
      --bg-elements: var(--dark-blue);
    }
  }

  body{
    @apply font-mono text-fill bg-fill;
  }

  //make default form look nice
  [type="text"],
  [type="email"],
  select {
    @apply w-full bg-elements rounded-lg shadow-sm focus:border-indigo-500 focus:ring-4  focus:ring-indigo-500;
  }
}

input.ng-invalid.ng-touched {
  // @apply border-2 border-danger;
}

@layer components {
  .container-large {
    max-width: 1536px;
    margin: 0 auto;
  }

  .filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(112deg)
      brightness(103%) contrast(101%);
  }
}
