
<!-- loading top -->
<lbk-process-bar-loading *ngIf="loading$ | async as loading "></lbk-process-bar-loading>
<!-- end loading top -->

<header class="shadow-md bg-elements">
  <nav class="container flex items-center justify-between py-6 ">

    <!-- logo -->
    <a routerLink="/home" [queryParams]="filter" class="text-xl font-black lg:text-2xl">Where in the world?</a>
    <!-- end logo -->


    <!-- theme -->
    <lbk-theme (click)="toggleTheme()" [darkTheme]="darkTheme"></lbk-theme>
    <!-- end theme -->
  </nav>
</header>
